<button mat-raised-button   (click)="openDialog()" class="btn" color="primary">CREATE</button>

<mat-table *ngIf="users" [dataSource]="dataSource">
  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="work">
    <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.profession}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
  <mat-row *matRowDef="let row columns: displayedColumns;" (click)="update(row)" class="demo"></mat-row>
  <ng-container matColumnDef="trah">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"> <button class="bg-danger" (click)="$event.stopPropagation();Delete(element)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
    </svg></button>{{element.trah}} </mat-cell>
  </ng-container>

</mat-table>
<br>
<br>
