<body style="overflow: scroll; background-color: hsla(0, 0%, 100%, 0.242);padding: 0;margin: 0;">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt mt-1" viewBox="0 0 16 16" >
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg><p class="fs-6 d-inline">customcablematerial</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
           <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-up-left mt-1" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.364 3.5a.5.5 0 0 1 .5-.5H14.5A1.5 1.5 0 0 1 16 4.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 3 14.5V7.864a.5.5 0 1 1 1 0V14.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H7.864a.5.5 0 0 1-.5-.5z"/>
              <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 0 1H1.707l8.147 8.146a.5.5 0 0 1-.708.708L1 1.707V5.5a.5.5 0 0 1-1 0v-5z"/>
            </svg><p class="fs-6 d-inline ">customcablematerial</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-tag mt-1" viewBox="0 0 16 16">
              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
            </svg><p class="fs-6 d-inline">customcablematerial</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4 offset-lg-0 col-xl-3 col-xxl-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-building-fill mt-1" viewBox="0 0 16 16">
              <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z" class="mt-3"/>
            </svg><p class="fs-6 d-inline w-0 ">customcablematerial</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
        </div>
    </div>
    </div>
    <h1 class="ms-4 mt-3">Order Information</h1>
    <div class="container p-3 mb-5 bg-white text-dark shadow-sm p-3  bg-body rounded">
            <h3>Site Structure path</h3>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col w-50">
          <form>  
            <div class="row mb-3">
              <div class="col-auto w-25">
             <label class="col-form-label float-end"> Site name </label>
              </div>
              <div class="col">
             <input   placeholder="customcablematerial" class="rounded-pill w-100 form-control">
              </div>
            </div>
          
          <div class="row mb-3">
            <div class="col-auto w-25">
           <label class="col-form-label float-end"> Project name </label>
            </div>
            <div class="col">
           <input  placeholder="customcablematerial" class="rounded-pill w-100 form-control">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-auto w-25">
           <label class="col-form-label float-end"> Building name </label>
            </div>
            <div class="col">
           <input placeholder="customcablematerial" class="rounded-pill w-100 form-control">
            </div>
          </div>  
          </form>
        </div>
    
        
        <div class="col w-100">
          <form>
            <div class="row mb-3">
              <div class="col-auto w-25">
                <label class="col-form-label float-end"> Version Name</label>
              </div>
              <div class="col w-100">
           <input  placeholder="customcablematerial" class="rounded-pill w-100 form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-auto w-25">
            <label class="col-form-label float-end"> Version date </label>
              </div>
              <div class="col w-100">
            <input  class="form-control rounded-pill w-100" type="date">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-auto w-25">
            <label class="col-form-label float-end"> Group name</label>
              </div>
              <div class="col w-100">
            <input placeholder="customcablematerial" class="form-control rounded-pill w-100"> 
              </div>
            </div>
          
          </form>       
        
    </div>
          </div>
    </div>
    </div>
    <div class="container p-3 mb-2 bg-white text-dark shadow-sm p-3 mb-5 bg-body rounded">
        <h3>Group Information</h3>
        <hr>
        <div class="container mb-3">
          <div class="row">
            <div class="col w-50">
            <h6 class="mb-3">DCS Product</h6>
            <div class="row">
            <select class="select rounded-pill form-control w-100 mb-3">
              <option>KONE Destination 1020</option>
              <option>With options</option>
            </select>
            </div>
          
          <div class="row mb-5">
        <h6>Group ID</h6>
            <input  class="rounded-pill form-control w-100">
          </div> 
            <div class="row ms-0">
             <div class="form-check">
              <input class="form-check-input w-30 p-3" type="checkbox" value="">
              <label class="form-check-label p-2">EN81-20</label>
            </div>
            </div>
            <div class="row ms-0">
              <div class="form-check">
               <input class="form-check-input w-30 p-3" type="checkbox" value="">
               <label class="form-check-label p-2">Through Type Car</label>
             </div>
             </div>
            </div>
    <div class="col w-auto">
      <h6>DCS type</h6>
      <select class="rounded-pill w-100 form-control mb-3" disabled>
        <option>Traditional</option>
        <option>With options</option>
      </select>
      <h6>DCS HW-type</h6>
      <select class="rounded-pill w-100 form-control mb-3" disabled>
        <option>KCEGCH D1020</option>
        <option>With options</option>
      </select>
      <p>Site Controller with Edge Router(combined or seperated),</p>
      <p>Site Controller(Only) or Edge Router(only) part of this group</p>
      <select class="rounded-pill w-100 form-control mb-3">
        <option>Select</option>
        <option>With options</option>
      </select>
      <h6>Zoned group</h6>
      <select class="rounded-pill w-100 form-control">
        <option>Select</option>
        <option>With options</option>
      </select>
      <h6>Pair of integrated groups</h6>
      <select class="rounded-pill form-control w-100">
        <option>Select</option>
        <option>With options</option>
      </select>
    </div>
          </div>
        </div>
    </div>
      <div class="container p-3 mb-3 bg-white text-dark shadow-sm bg-body rounded">
        <div>
          <h3>Engineering Information</h3>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col w-50">
            <form>
              <div class="row mb-3">
                <div class="col-auto w-40">
              <label class="col-form-label float-end"> Engineering person</label>
                </div>
                <div class="col">
              <input type="text" class="rounded-pill w-100 form-control">
                </div>
              </div>  
              <div class="row mb-3">
                <div class="col-auto w-25">
                  <label class="col-form-label float-end">FL Unit</label>
                </div>
                <div class="col">
                  <input type="text" class="rounded-pill w-100 form-control">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-auto w-25">
                  <label class="col-form-label float-end">Date</label>
                </div>
                <div class="col">
                  <input type="date" class="rounded-pill form-control w-100">
                </div>
              </div> 
            </form>
            </div>
          <div class="col w-50">
            <form>
              <div class="row mb-3">
                <div class="col-auto w-25">
                  <label class="col-form-label float-end">Phone</label>
                </div>
              <div class="col">
                <input type="number" class="rounded-pill form-control w-100">
              </div>
              </div>
              <div class="row mb-3">
                <div class="col-auto w-25"> 
              <label class="col-form-label float-end">Fax</label>
                </div>
                <div class="col w-100">
                  <input type="text" class="rounded-pill w-100 form-control">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-auto w-25">
                  <label class="col-form-label float-end">Email</label>
                </div>
                <div class="col w-100">
                  <input type="email" class="rounded-pill w-100 form-control">
                </div>
              </div> 
            </form>
          </div>
        </div>
      </div>
      </div>
      <div class="container p-3 mb-3 bg-white text-dark shadow-sm bg-body rounded">
        <div class="mb-3">
          <h3>Project Information</h3>
        </div>
        <hr class="mb-3">
        <div class="container">
          <div class="row">
            <div class="col w-50">
              <form>
                <div class="row mb-3">
                  <div class="col-auto w-25">
                    <label class="col-form-label float-end">Reciever</label>
                  </div>
                  <div class="col w-100">
                    <input type="text" class="form-control rounded-pill w-100">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto w-25">
                    <label class="col-form-label float-end">Street Address</label>
                  </div>
                  <div class="col w-100">
                    <input type="text" class="form-control rounded-pill w-100">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto w-25">
                    <label class="col-form-label float-end">Post code/Zip</label>
                  </div>
                  <div class="col w-100">
                    <input type="text" class="form-control rounded-pill w-100">
                  </div>
                </div>
              </form>
            </div>
            <div class="col w-50">
              <form>
                <div class="row mb-3">
                  <div class="col-auto w-25">
                    <label class="col-form-label float-end">Country</label>
                  </div>
                  <div class="col w-100">
                    <input type="text" class="form-control rounded-pill w-100">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto w-25">
                    <label class="col-form-label float-end">City</label>
                  </div>
                  <div class="col w-100">
                    <input type="text" class="form-control rounded-pill w-100">
                  </div>
                </div>
              </form>
            </div>
            <div>
                <form class="d-inline">
                <label  class="importButton" class="btn btn-primary ms-5 " >Import
                  <input type="file" class="fileInput" (change)="import($event)">
                 </label> 
                </form>
                <form enctype="multipart/form-data" class="d-inline">
                <label class="importButton" class="btn btn-primary ms-5">choose file
                <input type="file" class="fileInput" (change)="onFileChanged($event)" style="width: 20%;">
                </label>
                </form> 
            </div>
          </div>
        </div>
      </div>
    </body>
      
    
      
    
      
    
    
    
      
    
    
    
        
    
    
    